.footer-section {
  max-width: 100%;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  background-image: radial-gradient(
    at 30% top,
    #031d33 0%,
    rgba(3, 37, 65, 1) 70%
  );
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  color: #fff;
}
.footer-section h5 {
  color: #fff;
  text-transform: uppercase;
}
.footer-section a {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}
