<div class="footer-section">
  <div class="container">
    <footer class="pt-5 pb-1">
      <div class="row mx-0 p-0" style="justify-content: flex-end">
        <div class="col-6 col-md-2 mb-3" style="margin-right: 103px">
          <div class="image" style="width: 300px; height: 100px">
            <img
              src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg"
              alt=""
              class="w-100 h-100"
            />
          </div>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5>The Basics</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a routerLink="/" class="nav-link p-0">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/movies" class="nav-link p-0">Movies</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/tv-shows" class="nav-link p-0">Tv Shows</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
          <h5>Get Involved</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Contribution Bible</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Add New Movie</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Add New TV Show</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Community</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Guidelines</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Discussions</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Leaderboard</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
          <h5>Legal</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Terms of Use</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">API Terms of Use</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Privacy Policy</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">DMCA Policy</a>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="d-flex flex-column flex-sm-row justify-content-center align-items-end"
        style="margin-top: 14px"
      >
        <p
          style="
            font-size: 11px;
            line-height: 17px;
            font-weight: 400;
            text-transform: lowercase;
            width: 100%;
            color: #fff;
            opacity: 0.1;
            font-size: 0.7em;
            text-align: center;
          "
        >
          © 2025 Company, All rights reserved, created by ITITeam
        </p>
      </div>
    </footer>
  </div>
</div>
